html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1c1533;
  overscroll-behavior: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-user-select: none;
  user-select: none;
}
